@use "global";

.about-page {
  .about-heading {
    padding: 15px;
    padding-top: 0;
    position: relative;
    @include global.lg {
      text-align: center;
    }

    .heading-image {
      position: relative;
      width: 100%;

      img {
        box-sizing: border-box;
        max-width: 100%;
        max-height: 100%;
        display: block;
      }
      .about-image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: global.$overlay;
      }
    }
    .heading-text {
      position: absolute;
      text-align: center;

      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      white-space: nowrap;
      @media (max-width: 576px) {
        top: 40%;
      }

      h1 {
        font-weight: global.$primary-font-weight-semiBold;

        @include global.sm {
          font-size: 6vw;
        }
      }

      h2 {
        font-weight: global.$primary-font-weight-medium;

        @include global.md {
          white-space: normal;
        }
        @include global.sm {
          font-size: 1.2em;
        }
      }
    }
    .heading-subtext {
      position: absolute;
      bottom: 10%;
      left: 10%;
      max-width: 30%;
      color: white;

      @include global.lg {
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 50%;
      }

      @include global.md {
        display: none;
      }

      p {
        font-size: 1.6rem;
      }
    }
  }
  .about-text {
    padding: 15px 15px 40px 15px;
    display: flex;
    gap: 30px;
    color: global.$text-lightblack;
    line-height: 150%;
    @include global.md {
      flex-direction: column;
      gap: 15px;
    }
    p {
      font-size: 1.2rem;
    }
  }
  .about-products-grid {
    padding-left: 15px;

    .content {
      flex-wrap: nowrap;
      width: 100%;
      @include global.lg {
        overflow-x: scroll;
      }
      @include global.sm {
        gap: 10px;
      }

      .product-card {
        max-width: calc(20% - (15px * 4 / 5));
        @include global.lg {
          min-width: 200px;
        }
        @include global.sm {
          min-width: 130px;
        }
      }
    }
    .grid-footer {
      display: block;
    }
  }
}
