@use "global";
.container {
  box-sizing: border-box;

  .blog-container {
    box-sizing: border-box;
    width: 75%;
    padding: 15px;

    @media (max-width: 992px) {
      width: 100%;
    }

    .blog-header {
      h1 {
        color: global.$text-black;
      }
      img {
        width: 100%;
        display: block;
        object-fit: cover;
      }
    }
    .blog-body {
      p {
        margin-bottom: 30px;
        color: global.$text-lightblack;
        line-height: 150%;
      }
      .section {
        img {
          width: 100%;
          display: block;
          object-fit: cover;
        }
      }
    }
  }
}
