@use "global";
.container {
  box-sizing: border-box;
  .blogs-page-grid {
    padding: 40px 15px;
    .title {
      display: none;
    }
    .content {
      .blog-card {
        @include global.lg {
          max-width: calc(50% - (15px * 1 / 2));
        }
      }
    }
  }
}
