@use "global";

.blog-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  border: 1px solid global.$border-gray;
  border-radius: 5px;
  position: relative;
  text-decoration: none;
  color: global.$text-lightblack;
  max-width: calc(33.33% - (15px * 2 / 3));

  @include global.md {
    min-width: 100%;
  }
  &:hover {
    box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.2);
    color: global.$text-black;
  }

  .header {
    img {
      display: block;
      width: 100%;
    }
  }

  .body {
    text-align: center;
    padding: 5px;
    h3 {
      margin: 0;
      margin-top: 5px;
      font-weight: global.$primary-font-weight-medium;
    }

    .summary {
      margin: 0;
      margin-top: 5px;
    }
  }
  .footer {
    margin: 15px auto;

    a {
      display: block;

      text-decoration: none;
      color: global.$text-bronze;
      border: 1px solid global.$border-bronze;
      padding: 5px 10px;

      &:hover {
        color: white;
        background-color: global.$background-bronze;
      }
    }
  }
}
