.blog-container {
  width: 80%;
  margin: 20px 10%;

  .blog-header {
    width: 80%;
    text-align: center;
    h1 {
      font-family: math;
    }
    img {
      width: 100%;
    }
  }
  .blog-body {
    font-family: sans-serif;
    font-weight: lighter;
    width: 80%;
    text-align: center;

    p {
      text-align: start;
      margin-bottom: 30px;
    }
    .section {
      img {
        width: 100%;
      }
      p {
        margin-bottom: 30px;
      }
    }
  }
}
