@use "global";

.categories-list {
  padding: 0 15px 40px 15px;
  width: 100%;
  box-sizing: border-box;
  .home-categories {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 992px) {
      gap: 15px;
      overflow-x: scroll;
    }
    @media (max-width: 576px) {
      gap: 10px;
    }
    .row {
      display: flex;
      justify-content: flex-start;
      gap: 30px;

      @media (max-width: 992px) {
        gap: 15px;
      }
      @media (max-width: 576px) {
        gap: 10px;
      }

      a {
        max-width: calc(25% - (30px * 3 / 4));
        @media (max-width: 992px) {
          min-width: 200px;
        }
        @media (max-width: 576px) {
          min-width: 130px;
        }
      }
    }
  }
}
