@use "global";

.categories-list {
  padding: 0 15px 40px 15px;
  width: 100%;
  box-sizing: border-box;
  .home-categories {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include global.lg {
      gap: 15px;
      overflow-x: scroll;
    }
    @include global.sm {
      gap: 10px;
    }
    .row {
      display: flex;
      justify-content: flex-start;
      gap: 30px;

      @include global.lg {
        gap: 15px;
      }
      @include global.sm {
        gap: 10px;
      }

      a {
        max-width: calc(25% - (30px * 3 / 4));
        @include global.lg {
          min-width: 200px;
        }
        @include global.sm {
          min-width: 130px;
        }
      }
    }
  }
}
