@use "global";

.footer-container {
  background-color: global.$background-light;
  width: 100%;
  box-shadow: 2px -2px 10px 0px rgba($color: #000000, $alpha: 0.2);

  padding-bottom: 30px;

  .footer {
    box-sizing: border-box;
    color: global.$text-gray;
    border-top: 1px solid global.$border-gray;

    display: flex;
    justify-content: space-between;
    padding: 15px;
    text-align: center;

    @include global.lg {
      flex-direction: column;
      padding-top: 10px;
    }

    .footer-info {
      h3 {
        color: global.$text-lightblack;
        font-weight: global.$primary-font-weight-medium;
      }
      ul {
        list-style: none;
        padding-left: 0;
        li {
          margin-bottom: 15px;
        }
      }
    }

    .contact {
      h3 {
        color: global.$text-lightblack;
        font-weight: global.$primary-font-weight-medium;
      }
      ul {
        list-style: none;
        padding-left: 0;
        li {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            margin-right: 10px;
            font-size: 1.2em;
          }
        }
      }
    }

    .logo {
      height: 60px;
      padding: 15px;
      @include global.lg {
        height: 40px;
        padding-left: 0;
      }

      img {
        height: 100%;
      }
    }
  }

  .footer-end {
    font-size: 0.8rem;
    margin-left: 20px;
    color: global.$text-gray;
  }
}
