.footer-container {
  background-color: #e6e5e5;
  height: 250px;

  .footer {
    font-size: 0.8rem;
    font-family: sans-serif;
    color: #2b2b2b;
    height: 85%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    .footer-info {
      ul {
        list-style: none;
        padding-left: 0;
        li {
          margin-bottom: 15px;
        }
      }
    }

    .contact {
      ul {
        list-style: none;
        padding-left: 0;
        li {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          svg {
            margin-right: 10px;
            font-size: medium;
          }
        }
      }
    }

    .logo {
      img {
        height: 130px;
      }
    }
  }

  .footer-end {
    font-size: 0.6rem;
    margin-left: 20px;
  }
}
