.App-header {
  width: 100%;
  align-items: center;

  @media (min-width: 460px) {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 10px 0px rgba($color: #000000, $alpha: 0.2);
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.5);
    top: 0;
    left: 0;
    z-index: 1;

    &.open {
      display: block;
    }

    &.closed {
      display: none;
    }
  }

  .search-form {
    margin: 0px 15px;
    display: flex;
    border: 1px solid #6363638c;
    height: fit-content;

    @media (min-width: 460px) {
      width: 200px;
    }
  }

  .search-box {
    width: 100%;
    border: none;
  }

  .header-elements {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    align-items: center;
    width: 100%;

    .header-icons {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      gap: 10px;

      .open-icon {
        position: absolute;
        top: 10px;
        right: 10px;

        @media (min-width: 460px) {
          display: none;
        }
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 100%;
      background: white;
      position: absolute;
      transition: all 1s ease-in-out;
      top: 0;
      z-index: 3;

      @media (min-width: 460px) {
        flex-direction: row;
        position: static;
        justify-content: space-around;
        width: fit-content;
        column-gap: 10px;
      }

      &.closed {
        right: -100%;
      }
      &.open {
        right: 0;
      }
      .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        @media (min-width: 460px) {
          display: none;
        }
      }

      a {
        color: black;
        font-family: serif;
        text-decoration: none;
   
        &:after{
          content: '';
          width: 0px;
          transition: all 1s ease;
        }

        &:hover {
          &:after{
            content: '';
            width: 100%;
            height: 2px;
            border-radius: 5px;
            background: #f3a523;
            display: block;
          }
        }
      }
    }
  }
}
