@use "colors";
.home-page {
  .home-products-grid {
    padding-left: 15px;

    .content {
      flex-wrap: nowrap;
      width: 100%;
      @media (max-width: 992px) {
        overflow-x: scroll;
        justify-content: flex-start;
        gap: 15px;
      }
      @media (max-width: 576px) {
        gap: 10px;
      }
      .product-card {
        max-width: 19%;
        margin: 0;
        @media (max-width: 992px) {
          min-width: 200px;
        }
        @media (max-width: 576px) {
          min-width: 130px;
        }
      }
    }
    .blog-footer {
      display: block;
    }
  }
  .about-us {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-us-title {
      font-weight: 500;
      font-size: 1.3rem;
      color: colors.$text-lightblack;
    }

    .about-us-container {
      display: flex;
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 15px;
      }
      .about-us-image {
        flex: 2;
        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
      }
      .about-us-text {
        background-color: colors.$background-dark;
        flex: 1;
        padding: 30px;
        padding-top: 50px;
        font-size: 1.2rem;
        p {
          color: white;
          margin-top: 0;
        }
        .text-second-part {
          @media (max-width: 768px) {
            display: none;
          }
        }

        a {
          margin-top: 15px;
          text-decoration: none;
          color: colors.$text-bronze;
          border: 1px solid colors.$border-bronze;
          padding: 7px 15px;
          display: inline-block;

          &:hover {
            background-color: colors.$background-bronze;
            color: white;
          }
        }
      }
    }
  }

  .home-blogs {
    padding-left: 15px;
    .content {
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
    .blog-footer {
      display: block;
    }
  }
}
