@use "global";
.home-page {
  .home-products-grid {
    padding-left: 15px;

    .content {
      flex-wrap: nowrap;
      width: 100%;
      @media (max-width: 992px) {
        overflow-x: scroll;
      }
      @media (max-width: 576px) {
        gap: 10px;
      }

      .product-card {
        max-width: calc(20% - (15px * 4 / 5));
        @media (max-width: 992px) {
          min-width: 200px;
        }
        @media (max-width: 576px) {
          min-width: 130px;
        }
      }
    }
    .grid-footer {
      display: block;
    }
  }
  .about-us {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px 40px 15px;

    .about-us-container {
      display: flex;
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 15px;
      }
      .about-us-image {
        flex: 2;
        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
      }
      .about-us-text {
        background-color: global.$background-dark;
        font-weight: global.$primary-font-weight-light;
        line-height: 150%;
        flex: 1;
        padding: 50px 30px;
        font-size: 1.1rem;
        p {
          color: white;
          margin-top: 0;
        }
        .text-second-part {
          @media (max-width: 768px) {
            display: none;
          }
        }

        a {
          margin-top: 15px;
          text-decoration: none;
          color: global.$text-bronze;
          font-weight: global.$primary-font-weight-medium;
          font-size: 1rem;

          border: 1px solid global.$border-bronze;
          padding: 7px 15px;
          display: inline-block;

          &:hover {
            background-color: global.$background-bronze;
            color: white;
          }
        }
      }
    }
  }

  .home-blogs {
    padding-left: 15px;
    .content {
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
    .grid-footer {
      display: block;
    }
  }
}
