@use "global";
.image-container {
  text-align: center;
  margin: auto;
  width: 100%;

  &.large {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    animation: fadeIn 0.5s;
    z-index: 20;
    background-color: white;
  }

  .image-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px;
    border: 1px solid global.$border-gray;

    &.large {
      border: none;
    }

    @include global.lg {
      border: none;
    }
    @include global.md {
      height: 300px;
    }

    .scroll-left {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 6px;
      z-index: 5;
      padding: 4px 6px;
      cursor: pointer;

      @include global.lg {
        left: -10px;
      }

      &.disabled {
        opacity: 0.8;
      }

      &:hover {
        opacity: 0.8;
      }

      svg {
        font-size: 2rem;
        color: global.$text-lightblack;

        &.large {
          font-size: 3rem;
        }
      }
    }
    .scroll-right {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 6px;
      z-index: 5;
      padding: 4px 6px;
      cursor: pointer;

      @include global.lg {
        right: -10px;
      }

      &.disabled {
        opacity: 0.8;
      }

      &:hover {
        opacity: 0.8;
      }
      svg {
        font-size: 2rem;
        color: global.$text-lightblack;
        &.large {
          font-size: 3rem;
        }
      }
    }
    .slides {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;

      &.transition {
        transition: ease all 0.5s;
      }

      .slide {
        display: flex;
        z-index: 4;

        justify-content: center;
        align-items: center;
        height: 500px;

        @include global.md {
          height: 300px;
        }

        .slide-inner {
          height: 100%;
          width: 100%;
          object-fit: contain;
          cursor: pointer;
          &:hover {
            opacity: 0.8;

            /*transform: scale(2);
            cursor: zoom-in;
            object-fit: contain;*/
          }

          &.large {
            opacity: 1;
          }
        }
      }
    }
  }

  .close-image {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &.large {
      display: inline-block;
    }
    svg {
      font-size: 3rem;
      color: global.$text-lightblack;
    }
  }
  .sub-images {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;

    &.large {
      display: none;
    }

    @include global.lg {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .sub-image {
      border: 0.5px solid global.$border-gray;
      height: 80px;
      margin: 5px 2px 0 2px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      &.active {
        background-color: global.$overlay;
        opacity: 0.8;
        height: 85px;
      }

      img {
        height: 100%;
      }
    }
  }

  .imageNum {
    color: global.$text-gray;
    display: none;

    &.large {
      display: none;
    }
    @include global.lg {
      display: block;
    }
    p {
      margin-bottom: 0;
    }
  }
}
