@use "global";
.item {
  .item-display {
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    justify-content: space-between;

    @include global.lg {
      flex-direction: column;
      align-items: center;
    }

    .info {
      @include global.lg {
        width: 100%;
      }
    }
    .images {
      width: 750px;

      @include global.xl {
        width: 600px;
      }
      @include global.lg {
        width: 690px;
      }
      @include global.md {
        width: 510px;
      }

      @include global.sm {
        width: 100%;
      }
    }
  }
  .further-info {
    background-color: global.$background-light;
    width: 100%;
    font-size: 1.1rem;
    .container {
      box-sizing: border-box;

      .item-details {
        display: flex;
        justify-content: space-between;
        color: global.$text-black;
        @include global.lg {
          flex-direction: column;
        }
        .description {
          flex: 2;
          padding: 15px;
          padding-right: 30px;

          @include global.lg {
            padding-right: 15px;
            padding-top: 0;
            max-height: 34.5px;
            overflow: hidden;
            border-bottom: 1px solid global.$border-gray;
            transition: max-height 0.5s ease-in-out;
            &.open {
              max-height: 400px;
              transition: max-height 0.5s ease-in-out;
            }
          }
          h3 {
            font-weight: global.$primary-font-weight-semiBold;
            svg {
              float: inline-end;
              font-size: 2rem;
              transition: transform 0.5s ease-in-out;
              display: none;
              &.open {
                transform: rotate(180deg);
              }
              @include global.lg {
                display: inline-block;
              }
            }
          }
          p {
            color: global.$text-lightblack;
            line-height: 150%;
            margin-top: 15.96px;
          }
        }

        .dimentions {
          flex: 1;
          padding: 15px;
          padding-left: 30px;
          @include global.lg {
            padding-left: 15px;
            padding-top: 0;
            max-height: 34.5px;
            overflow: hidden;
            border-bottom: 1px solid global.$border-gray;
            transition: max-height 0.5s ease-in-out;
            &.open {
              max-height: 400px;
              transition: max-height 0.5s ease-in-out;
            }
          }

          h3 {
            font-weight: global.$primary-font-weight-semiBold;

            svg {
              float: inline-end;
              font-size: 2rem;
              transition: transform 0.5s ease-in-out;
              display: none;

              &.open {
                transform: rotate(180deg);
              }
              @include global.lg {
                display: inline-block;
              }
            }
          }

          ul {
            list-style: none;
            padding: 0;
            h4 {
              margin-bottom: 0;
              font-weight: global.$primary-font-weight-medium;
              color: global.$text-gray;
            }
            p {
              margin-top: 5px;
              color: global.$text-lightblack;
            }
          }
        }
      }

      .shipping {
        padding: 15px;
        padding-top: 0;
        @include global.sm {
          text-align: center;
        }

        h3 {
          color: global.$text-black;

          font-weight: global.$primary-font-weight-semiBold;
        }

        p {
          color: global.$text-lightblack;
          margin-bottom: 14.04px;
        }
      }
    }
  }
  .item-products-grid {
    padding-left: 15px;

    .section-title {
      margin-top: 60px;
    }

    .content {
      flex-wrap: nowrap;
      width: 100%;
      @include global.lg {
        overflow-x: scroll;
      }
      @include global.sm {
        gap: 10px;
      }

      .product-card {
        max-width: calc(20% - (15px * 4 / 5));
        @include global.lg {
          min-width: 200px;
        }
        @include global.sm {
          min-width: 130px;
        }
      }
    }
    .grid-footer {
      display: block;
    }
  }
}
