.items {
  display: flex;
  .filters {
    flex: 1;
    display: inline-flex;

    &:after {
      content: "";
      height: 80%;
      width: 1px;
      border-right: 1px solid lightgrey;
      margin-top: 35px;
    }

    .content {
      display: flex;
      flex-direction: column;
      padding: 20px;
      justify-content: start;
      align-items: start;

      .categories {
        list-style: none;
        padding: 0;
        border-bottom: 1px solid lightgrey;
        padding-bottom: 30px;
      }
      .sub-categories {
        list-style: none;
        margin-bottom: 20px;
      }
    }
  }

  .page-content {
    flex: 4.3;
    display: flex;
    flex-direction: column;
    align-items: center;

    .products-grid {
      margin-bottom: 30px;
    }

    .pagination {
      list-style: none;
      display: flex;
      padding: 0;
      margin-bottom: 40px;

      .page-item {
        width: 40px;
        height: 24px;
        text-align: center;
        cursor: pointer;

        &.active {
          border: 1px solid #ffba52;
          border-radius: 8%;
        }

        &:hover {
          box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.2);
        }
      }
    }
  }
}
