@use "global";

.imageBox {
  width: 100%;
  position: relative;

  img {
    width: 100%;
    display: block;
  }

  .imageBoxOverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: global.$overlay;
  }

  h2 {
    color: white;
    font-size: 1.3rem;
    font-weight: global.$primary-font-weight-semiBold;

    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}
