@use "global";

.products-grid {
  padding: 0 15px;
  padding-left: 50px;
  width: 100%;
  box-sizing: border-box;

  @include global.lg {
    padding-left: 15px;
  }

  .content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 15px;
    margin-bottom: 30px;
  }
  .grid-footer {
    padding-bottom: 40px;
    font-weight: global.$primary-font-weight-medium;
    display: none;
    text-align: center;
    a {
      display: inline-block;
      text-decoration: none;
      border: 1px solid global.$border-bronze;
      padding: 8px 15px;
      color: global.$text-bronze;
      &:hover {
        background-color: global.$background-bronze;

        color: white;
      }
    }
  }
}
