@use "global";

.products-grid {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  padding-left: 50px;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 992px) {
    padding-left: 15px;
  }

  .title {
    h2 {
      font-weight: global.$primary-font-weight-semiBold;
      font-size: 1.3rem;
      color: global.$text-lightblack;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .grid-footer {
    text-align: center;
    padding-bottom: 40px;
    font-weight: global.$primary-font-weight-medium;
    display: none;
    a {
      display: block;
      text-decoration: none;
      border: 1px solid global.$border-bronze;
      padding: 8px 15px;
      color: global.$text-bronze;
      &:hover {
        background-color: global.$background-bronze;

        color: white;
      }
    }
  }
}
