.wishlist {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  .no-products-msg {
    margin-top: 15%;
    margin-bottom: 15%;
    color: gray;
    font-size: 30px;
    font-weight: lighter;
  }
}
