.wishlist {
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  .no-products-msg {
    margin-top: 15%;
    margin-bottom: 15%;
    color: gray;
    font-size: 30px;
    font-weight: lighter;
  }

  .saved-items-grid {
    padding-left: 15px;

    .product-card {
      @media (min-width: 1201px) {
        max-width: 24%;
      }
    }
  }
}
