@use "global";
.wishlist {
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  .no-products-msg {
    margin-top: 15%;
    margin-bottom: 15%;
    color: global.$text-lightblack;
    font-size: 30px;
    font-weight: global.$primary-font-weight-light;
  }

  .saved-items-grid {
    padding-left: 15px;
  }
}
