$slide-num: var(--slide);

.slider-container {
  position: relative;
  background-color: #000000;

  .images-slider {
    display: flex;
    position: relative;
    height: 1000px;
    
    .image {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;

      img {
        width: 100%;
      }
      
      &.shown{
        display: block;
        animation: fadeIn 2s;
      }

      &.hidden{
        display: none;
        animation: fadeOut 3s;
      }
    }
  }

  .next-btn {
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    z-index: 3;

    svg {
      color: white;
      font-size: 60px;
      transition: all 0.1s ease-in-out;

      &:hover {
        color: rgba(255, 255, 255, 0.39);
      }

      &.end {
        color: rgba(255, 255, 255, 0.39);
      }
    }
  }

  .prev-btn {
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
    z-index: 3;

    svg {
      color: white;
      font-size: 60px;
      transition: all 0.1s ease-in-out;

      &:hover {
        color: rgba(255, 255, 255, 0.39);
      }

      &.end {
        color: rgba(255, 255, 255, 0.39);
      }
    }
  }

  .info-slider {
    display: flex;
    overflow: hidden;
    position: absolute;
    min-width: 100%;
    left: 0;
    top: 35%;

    .info {
      font-size: 1.5rem;
      color: white;
      text-align: center;
      min-width: 100%;
      display: none;

      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
        padding: 0px 7px;
        padding-bottom: 3px;
        border-radius: 10px;
        background-color: rgba($color: #000000, $alpha: 0.9);
        transition: all 0.1s ease-in-out;

        &:hover {
          background-color: rgba(255, 255, 255, 0.39);
        }
      }

      &.shown{
         display: block;
        animation: fadeIn 2s;
      }

      &.hidden{
        display: none;
        animation: fadeOut 3s;
      }
    }
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

